{% extends 'pharmacy/base.html' %}

{% block content %}
<h2>Billing Details</h2>

<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td>{{ bill.customer }}</td>
            <td>{{ bill.medicine.name }}</td>
            <td>{{ bill.quantity }}</td>
            <td>₹{{ bill.total_price }}</td>
            <td>{{ bill.date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No bills found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
